<div class="jumbotron">
  <h2>Calculateur de fortune</h2>
  <form role="form">
    <div class="form-group row">
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Capital initial" ng-model="calc.capital">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Position dans le temps" ng-model="calc.n">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Durée d'analyse" ng-model="calc.duree">
      </div>
      <div class="col-md-4">
        <div class="btn-group justified">
          <label class="btn btn-primary" ng-model="calc.unite" btn-radio="'Mois'">Mois</label>
          <label class="btn btn-primary" ng-model="calc.unite" btn-radio="'Ans'">Ans</label>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Taux d'intêret en %" ng-model="calc.taux">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-info" ng-click="calculsimpleinterest()">Interet simple</button>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" ng-click="calculcomposee()">Interet composée</button>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-danger" ng-click="calculunique()">Montant unique</button>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-warning" ng-click="calculannuite()">Calcul d'annuité</button>
      </div>
    </div>
  </form>
</div>

<div class="row" ng-show="selected == 'simpleinterest'">
  <ul>
    <li>Interet de la periode n : {{calculateddata.ninterest}}</li>
    <li>Interet cumulatif à la periode n : {{calculateddata.interestcumulatif}}</li>
    <li>Valeur de P à la fin de l’analyse : {{calculateddata.finanalyse}}</li>
  </ul>
</div>
<!--<div class="row">
   <nvd3 options="options" data="data"></nvd3>
 </div>-->
